@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'MyFont-regular', 'obviously-narrow', "sans-serif";
    scroll-behavior: smooth;
}
:root{
    --bg-color: #1B1B1B;
    --second-bg-color:#24272A;
    --third-bg-color:#1D1D1F;
    --text-color:#fff;
    --main-color:#0ef;
    --pink-color:#ff73b5;
    --white-color:#fff6f6;
}

@font-face {
    font-family: 'MyFont-regular';
    src: url('./Fonts/HitmarkerText-Regular.woff2')
}

@font-face {
    font-family: 'MyFont-text-Bold';
    src: url('./Fonts/HitmarkerText-Bold.ttf') 
}

@font-face {
    font-family: 'MyFont';
    src: url('./Fonts/HitmarkerText-Medium.woff2') 
}

@font-face {
    font-family: 'name-logo-font';
    src: url('./Fonts/HitmarkerNormal-Regular.ttf') 
}

@font-face {
    font-family: 'name-text-font';
    src: url('./Fonts/HitmarkerCondensed-Black.ttf') 
}

@font-face {
    font-family: 'headings-font';
    src: url('./Fonts/HitmarkerCondensed-Medium.ttf') 
}

@font-face {
    font-family: 'education';
    src: url('./Fonts/HitmarkerNormal-Bold.ttf')
}



html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.header{
    position: absolute;
    top: 1.5%;
    left: 0%;
    width: 100%;
    padding: 0rem 9%;
    z-index: 100;
}

.header .sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

#logo-special{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.logo{
    color: #FFFFFF;
    font-weight: 1000;
    background-color: #ff6600;
    font-size: 1.5rem;
    font-family: 'name-logo-font', 'obviously-narrow','Helvetica',sans-serif;
    padding: 6px 12px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo-special:hover {
  box-shadow: 0 0 0 2px #e65c00;
}

.main-navbar{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2A2A2A;
}



.navbar a{
    font-family: 'MyFont-regular';
    font-size: 1.8rem;
    color: var(--text-color);
    transition: .1s;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: lighter;
}

.navbar a:hover, 
.navbar a.active{
    background-color: #0071E3;
    color: white;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 900;
    font-family: 'MyFont-text-Bold';
    letter-spacing: 2px;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--pink-color);
}


.home-content h1{
    margin-left: 2rem;
    font-family: 'name-text-font';
    letter-spacing: 2px;
    font-size: 7rem;
    line-height: 1.3;
    background: linear-gradient(to right, 
    #00AEEF,   /* Blue */
    #A145D8,   /* Purple */
    #E03DA5,   /* Pink */
    #F36C3D,   /* Orange */
    #FF4C00    /* Red-Orange */
  );
  -webkit-background-clip: text;
  background-clip: text;           /* For Firefox */
  -webkit-text-fill-color: transparent;
  color: transparent;              /* Important fallback */
  display: inline-block;
}

.home-img img{
    width: 20vw;
    border-radius: 5%;
    border-style:solid;
    border: 6px solid #3C4147;
    animation: floatImage 4s ease-in-out infinite;
    
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}


.home-content p{
    font-family: 'MyFont-regular';
    font-size: 2.2rem;
    margin-left: 2rem;
    letter-spacing: 1px;
}



.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: .2rem solid #8800CC;
    border-radius: 50%;
    font-size: 3rem;
    color: white;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
    margin-left: 2rem;
}

.social-media a:hover{
    background: #8800CC;
    color: black;
}

.btn{
    margin-left: 2rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #107C10;
    font-size: 1.6rem;
    color: white;
    font-weight: 900;
    font-family: 'MyFont-regular';
    letter-spacing: 1px;
    border-radius: 4px;
}



/* about section */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    color: white;
}

.about-img img{
    width: 20vw;
    border-radius: 5%;
    border-style:solid;
    border-color: #3C4147;
}

.about-span{
    color: #FEC200;
    background-color: #1F003C;
    border-radius: 1rem;
    padding: 10px;
    border: 2px solid white;
}

.about-content h2 {
    font-family: 'headings-font';
    padding: 2rem 0rem 2rem 0rem;
    font-size: 7rem;
    line-height: 1.1;
    letter-spacing: 4px;
    margin: 0;
    
}


.about-content h3 {
    font-size: 2.6rem;
    letter-spacing: 2px;
    color: var(--pink-color);
    font-family: 'MyFont-text-Bold';
    margin-top: 0.5rem;
    margin-left: 0;
}

.about-content p{
    font-family: 'MyFont-regular';
    font-size: 2rem;
    margin: 2rem 0 3rem;
    letter-spacing: 1px;
}





/* education section */

.education{
    background-color: var(--bg-color);
}
.education span{
    font-family: 'headings-font';
    padding: 10px;
    letter-spacing: 4px;
    color: #7BC32B;
    border: 2px solid white;
}
.span-education{
    border-radius: 1rem;
    /* background-color: #CE96FF; */
}


.education h2{
    font-family: 'headings-font';
    letter-spacing: 4px;
    margin-bottom: 5rem;
    font-weight: 900;
    font-size: 7rem;
    text-align: center; 
}

.education-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
}


.education-container .education-box{
    flex:1 1 30rem;
    border: 2px solid #606971;
    background: #24272A;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    transition: .5s ease;
    color: #C2C7CB;
    
}

.education-container .education-box:hover{
    border-color: wheat;
    transform: scale(1.05);
    transition: .5s ease;
}

.education-box i{
    margin-bottom: 3rem;
    font-size: 7rem;
    color: #3497DB;
}


.education-box h3{
    letter-spacing: 2px;
    font-family: 'education';
    font-size: 2.6rem;
    margin-bottom: 2rem;
    font-weight: 900;
    color: #C6A700;
}
.education-box p{
    font-family: 'MyFont-regular';
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 1.8rem;
    margin: 1rem 0 3rem;
}

.college{
    font-weight: 700;
}




/* skills design */
.skills{
    background: var(--second-bg-color);
}

.skills h2{
    font-family: 'headings-font';
    letter-spacing: 4px;
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 4rem;

}

.skills span{
    /* background-color: #FEC200; */
    border-radius: 1rem;
    padding: 10px;
    color:#FEC200;
    font-family: 'headings-font';
    letter-spacing: 4px;
    border: 2px solid wheat;
}
.skill-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
}

.skill-container .web-dev{
    flex:1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid #fff;
    transition: .5s ease;
    color: white;
}

.skill-container .web-dev:hover{
    
    border-color: #fff;
    transform: scale(1.05);
    transition: .5s ease;
}

.py{
    height: 5rem;
    width: 5rem;
}
.ja{
    height: 6rem;
    width: 6rem;

}

.web-dev a:hover{
    border-color: #004526;
    transform: scale(1.4);
    transition: .5s ease;
}
.web-dev h3{
    font-family: 'headings-font';
    letter-spacing: 2px;
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
}

.web-dev a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background:transparent;
    border: .2rem solid #004526;
    border-radius: 30%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
    background-color: white;
}
.web-dev i{
    font-size: 6rem;
    color: var(--main-color);
}



/* coding profile section */
.coding-profile {
    background: var(--bg-color);
}

.coding-profile span {
    background-color: #1B1B1B;
    border: 2px solid #fff;
    color: yellow;
    font-family: 'headings-font';
    letter-spacing: 4px;
    border-radius: 1rem;
    padding: 10px;
}

.coding-profile h2 {
    font-family: 'headings-font';
    letter-spacing: 4px;
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 4rem;
    color: white;
}

/* Grid layout */
.coding-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
}

.coding-box {
    background: #24272A;
    border: 4px solid #3C4147;
    border-radius: 1.5rem;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    display: flex;
    flex-direction: column;
    height: 520px;
    position: relative;
}


.coding-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #3C4147;
}

.coding-box img:hover {
    cursor: pointer;
}

.coding-box img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.card-content {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}      


.card-content a {
    font-family: 'MyFont';
    letter-spacing: 2px;
}

.card-content h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2.2rem;
}

.card-content h3 {
    display: flex;
    align-items: start;
    justify-content: start;
    color: white;
    font-weight: 100;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-family: 'MyFont-regular';
    letter-spacing: 1px;
}

.card-content h2 {
    font-family: 'MyFont-text-Bold';
    letter-spacing: 1px;
    display: flex;
    align-items: start;
    justify-content: start;
    color: white;
    font-weight: 800;
    font-size: 2.5rem;
}

.card-content h5{
    display: flex;
    align-items: start;
    justify-content: start;
    color: white;
    font-weight: lighter;
    font-size: 2rem;
    font-family: 'MyFont-text-Bold';
    letter-spacing: 1px;
}
.card-content h4 {
    
    display: flex;
    align-items: start;
    justify-content: start;
    font-weight: 800;
    font-size: 1.5rem;
}


.card-content .card-btn {
    background-color: #006603;
    color: white;
    padding: 0.6rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.image-overlay {
    width: 100%;
    height: 300px; /* or whatever fixed height you want */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #000; /* optional background */
}

.image-overlay img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* prevents zoom/cropping */
    object-position: center;
    display: block;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.95);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 80vh;
  border: 2px solid whitesmoke;
  border-radius: 1rem;
}

.close {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover {
  color: #bbb;
}





/* project section */
.projects{
    background: var(--second-bg-color);
}
.projects span{
    background-color: var(--pink-color);
    color:black;
    font-family: 'headings-font';
    letter-spacing: 4px;
    border-radius: 1rem;
    padding: 10px;
    border: 2px solid white;
}

.projects h2{
    font-family: 'headings-font';
    letter-spacing: 4px;
    color: #004526;
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 4rem;
    color: white;
    
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    
}
.projects-container .projects-box{
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    
}
.projects-box img{
    width: 100%;
}

.projects-box{
    border: 2px solid wheat;
}

.projects-box:hover img{
    width: 100%;
    transform: scale(1.1);
    transition: .5s ease;
}


.projects-box .projects-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.9), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.projects-box:hover .projects-layer{
    transform: translateY(0);

}
.projects-layer h4{
    font-size: 2rem;
}

.projects-layer p{
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
}
.projects-layer a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background: var(--text-color);
    border-radius: 50%;
}

.projects-layer a i{
    font-size: 3rem;
    color: var(--second-bg-color);
}



/* Contact Design*/

.contact{
    background: var(--bg-color);
}
.contact span{
    /* background-color: var(--pink-color); */
    color: #3497DB;
    font-family: 'headings-font';
    letter-spacing: 4px;
    border-radius: 1rem;
    padding: 10px;
    border: 2px solid white;

}
.contact h2{
    font-family: 'headings-font';
    letter-spacing: 4px;
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: black;
    background: whitesmoke;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

/* footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #000;
    color: #fff;
}

.footer-text p{
    font-family: 'MyFont-regular';
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 2px;
}




/* BREAKPOINTS */
@media (max-width: 1600px){
    /* *{
        background-color: yellow;
    } */
    html{
        font-size: 55%;
    }
    .navbar a{
        padding: 0.5rem 0.8rem 0.5rem 0.8rem;
        font-size: 1.2rem;
    }
}

@media (max-width: 1200px){
    /* *{
        background-color: yellow;
    } */
    html{
        font-size: 55%;
    }
    .navbar a{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        font-size: 1rem;
    }
}

@media (max-width: 991px){
    .navbar a{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        font-size: 1rem;
    }

    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem ;
    }

    .projects{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;

    }
    .footer{
        padding: 2rem 3% ;
    }

    .projects h2{
        margin-bottom: 10rem;
    }

    .projects-layer h4{
        font-size: 1.5rem;
    }
    
    .projects-layer p{
        font-size: 1rem;
        margin: .3rem 0 1rem;
    }
    .projects-layer a{
        width: 2rem;
        height: 2rem;
    }
    
    .projects-layer a i{
        font-size: 1rem;
        color: var(--second-bg-color);
    }
}

@media (max-width: 768px){
    
    .header{
        top: 0%;
        padding: 0rem 0%;
    }

    .about-img img{
        display: none;
    }
    .about-content h2{
        font-size: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-content h3 {
        margin: 0.5rem;
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-content p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar a{
        border-radius: 0%;
    }
    
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem solid rgba(0, 0, 0, .2);
        display: none;
        
    }
    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }


    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 3rem;
    }
    .home-content h1{
        font-size: 6rem;
    }
    .home-content p{
        font-size: 3rem;
    }
    .home-img img{
        width: 60vw;
        margin-top: 4rem;
    } 

    .about{
        flex-direction: column-reverse;
    }
    .about-content p {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about img{
        width: 60vw;
        margin-top: 4rem;
    }

    .education h2{
        margin-bottom: 3rem;
    }

    .projects h2{
        margin-bottom: 3rem;

    }
    .projects-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .projects-layer h4{
        font-size: 4.5rem;
    }
    
    .projects-layer p{
        font-size: 2.5rem;
        margin: .3rem 0 1rem;
    }
    .projects-layer a{
        width: 7rem;
        height: 7rem;
    }
    
    .projects-layer a i{
        font-size: 4rem;
        color: var(--second-bg-color);
    }
    .footer-text p{
        font-size: 2rem;
    }
}

@media (max-width: 617px){
    .home-content h3{
        font-size: 2rem;
    }
    .home-content h1{
        font-size: 4rem;
    }
    .home-content p{
        font-size: 2rem;
    }
    .about-content p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    .coding-profile h2{
        font-size: 5rem;
    }
    .card-content h3{
        font-size: 2rem;
    }
    .card-content h2{
        font-size: 3rem;
    }
    .card-content h5{
        font-size: 2.2rem;
    }
    .card-content h4{
        font-size: 3rem;
    }
    .projects-container{
        grid-template-columns: 1fr;
    }
    .projects h2{
        font-size: 5rem;
    }
    .projects-layer h4{
        font-size: 3rem;
    }
    
    .projects-layer p{
        font-size: 2.0rem;
        margin: .3rem 0 1rem;
    }
    .projects-layer a{
        width: 7rem;
        height: 7rem;
    }
    
    .projects-layer a i{
        font-size: 4rem;
        color: var(--second-bg-color);
    }
}

@media (max-width: 450px){
    
    .header{
        top: 0%;
        padding: 0rem 0%;
    }
    .home-content h3{
        font-size: 2rem;
    }
    .home-content h1{
        font-size: 4rem;
    }
    .home-content p{
        font-size: 2rem;
    }
    .about-content h2{
        font-size: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-content h3 {
        margin: 0.5rem;
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-content p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    .about-img img{
        display: none;
    }
    .footer-text p{
        font-size: 1rem;
    }
    .education h2{
        font-size: 6rem;
    }
    .skills h2{
        font-size: 6rem;
    }
    .coding-profile h2{
        font-size: 5rem;
    }
    .card-content h3{
        font-size: 2rem;
    }
    .card-content h2{
        font-size: 3rem;
    }
    .card-content h5{
        font-size: 2.2rem;
    }
    .card-content h4{
        font-size: 3rem;
    }
    .projects h2{
        font-size: 5rem;
    }
    .contact h2{
        font-size: 6rem;
    }

    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;

    }
    .footer-text p{
        font-size: 1rem;
    }

    .projects-layer h4{
        font-size: 2.5rem;
    }
    
    .projects-layer p{
        font-size: 2rem;
        margin: .3rem 0 1rem;
    }
    .projects-layer a{
        width: 4rem;
        height: 4rem;
    }
    
    .projects-layer a i{
        font-size: 2rem;
        color: var(--second-bg-color);
    }
}

@media (max-width: 365px){
    .header{
        top: 0%;
        padding: 0rem 0%;
    }
    .about-img img{
        display: none;
    }
    .coding-profile h2{
        font-size: 4rem;
    }

    .home-img img{
        width: 70vw;

    }

    .footer-text p{
        font-size: 1rem;
    }
    .projects-layer h4{
        font-size: 2rem;
    }
    
    .projects-layer p{
        font-size: 1.5rem;
        margin: .3rem 0 1rem;
    }
    .projects-layer a{
        width: 3rem;
        height: 3rem;
    }
    
    .projects-layer a i{
        font-size: 2rem;
        color: var(--second-bg-color);
    }
}

@media (max-width: 375px){
    /* *{
        background-color: #0ef;
    } */
    .header{
        top: 0%;
        padding: 0rem 0%;
    }
     .home-content h3{
        font-size: 1.5rem;
    }
    .home-content h1{
        font-size: 3rem;
    }
    .home-content p{
        font-size: 1.8rem;
    }
    .about-img img{
        display: none;
    }
    .about-content h2{
        font-size: 4rem;
    }
    .about-content p{
        font-size: 1.8rem;

    }
    .education h2{
        font-size: 4rem;
    }
    .skills h2{
        font-size: 4rem;
    }
    .coding-profile h2{
        font-size: 4rem;
    }
    .card-content h3{
        font-size: 1.5rem;
    }
    .card-content h2{
        font-size: 2rem;
    }
    .card-content h5{
        font-size: 1.8rem;
    }
    .card-content h4{
        font-size: 2rem;
    }
    .projects h2{
        font-size: 3rem;
    }
    .contact h2{
        font-size: 4rem;
    }
    .footer-text p{
        font-size: 0.8rem;
    }
}

